<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<div th:fragment="social-connect-block (profile, telegramVerified, telegramVerificationCommand)">
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title">
                Join us on Telegram
            </h5>

            <div th:if="${telegramVerified}">
                <label class="mb-0">E-mail</label>
                <input type="text"
                       th:value="${profile.getTelegramName()}"
                       class="form-control form-control--not-editable" disabled="disabled" readonly="readonly"/>
            </div>
            <div th:unless="${telegramVerified}">

                <div class="card-text">

                    <label for="telegram-name" class="mb-0">Enter your telegram name</label>
                    <input type="text"
                           id="telegram-name"
                           data-edit="telegram-name"
                           data-edit-validation="telegram"
                           th:value="${profile.getTelegramName()}"
                           class="form-control form-control--instant-edit" placeholder="No Telegram name defined yet"/>
                    <div data-edit-messages="telegram-name"></div>

                    <br/>
                    <button class="btn btn-outline-linkedin icon-left mb-1" th:href="@{https://t.me/fundrequestofficial}">
                        <i class="fab fa-telegram"></i>
                        <span>Join us on Telegram</span>
                    </button>
                </div>

                <p>After you've joined our channel, please verify yourself with our bot.</p>

                <div class="card-text">
                    <a class="btn btn-outline-linkedin icon-left mb-1" th:href="@{https://t.me/FundRequestVerifierBot}">
                        <i class="fab fa-telegram"></i>
                        <span>Contact our Bot</span>
                    </a>
                </div>

                <p>And tell him this.</p>

                <div class="card-text mb-2">
                    <div class="input-group">
                        <input class="form-control" id="referral-link" title="personal referral link"
                               value="referralkey" th:value="${telegramVerificationCommand}"/>
                        <div class="input-group-append">
                            <button class="btn" data-clipboard-target="#referral-link">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>