<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-12">
        <p>
            Welcome to the program!
            You need create a profile!
        </p>
    </div>

    <div class="col-12">
        <p>
            <a class="link button" th:href="${profileLink}" href="profile">Create profile</a>
        </p>
    </div>
</div>
</body>
</html>