<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title layout:title-pattern="$CONTENT_TITLE">Base</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="apple-touch-icon" type="image/png" href="/assets/favicons/logo-single180.png" sizes="180x180"/>
    <link rel="icon" type="image/png" href="/assets/img/logo-single32.png" sizes="32x31"/>
    <link rel="icon" type="image/png" href="/assets/img/logo-single16.png" sizes="16x15"/>
    <link rel="stylesheet" href="/assets/css/bmd.min.css"/>
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="/assets/css/googlefonts-titilium/googlefonts.titilium.css"/>
    <link rel="stylesheet" href="/assets/css/typekit-jaf-domus/typekit.css"/>

    <script data-main="assets/js/app" src="assets/js/require.js"></script>

</head>
<body>
<div id="alert-container" class="alert-container"></div>
<div class="progress primary-color-dark fixed-top d-none" data-page-loader="true">
    <div class="indeterminate"></div>
</div>
<div class="fnd-page-container">
    <nav class="fnd-header navbar navbar-dark navbar-expand-md bg bg--blue bg--no-rect">
        <a class="navbar-brand navbar-brand--fnd" href="/profile">
            <img class="d-md-none" src="/assets/img/logo-single180.png" alt="Fundrequest logo"/>
            <img class="d-none d-md-block" src="/assets/img/Fundrequest-title-white.png" alt="Fundrequest logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-menu"
                aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle primary menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-menu">
            <ul class="navbar-nav text-center ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link" title="About" href="https://fundrequest.io#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Team" href="https://fundrequest.io#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Roadmap" href="https://fundrequest.io#roadmap">Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Whitepaper" href="https://fundrequest.io/whitepaper.pdf"
                       target="_blank">Whitepaper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Blog" href="https://blog.fundrequest.io/"
                       target="_blank">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn btn-warning bmd-btn-fab bmd-btn-fab-sm btn--profile dropdown-toggle"
                            title="Profile"
                            type="button"
                            id="user-profile-menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-profile-menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/rewards">Rewards</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div th:if="${profile}" th:remove="tag">
        <div class="fnd-ribbon fnd-ribbon--novice"></div>
    </div>

    <section class="fnd-main">
        <div class="container">
            <div th:if="${profile}" th:remove="tag">
                <div th:replace="fragments/header"></div>
            </div>
            <div layout:fragment="content"></div>
        </div>
    </section>
</div>

<section class="footer section section--blue section--compact section--end">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="disclaimer">
                    <p>© 2018 FundRequest OÜ</p>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="modals">
</th:block>

<th:block layout:fragment="scripts">
</th:block>

</body>

</html>