<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bounty program</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <p>
               Welcome <span th:text="${profile.getName()}"></span> <span th:text="${profile.getEmail()}"></span>

            </p>
        </div>
    </div>




</section>
</body>
</html>