<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <p>
                Welcome <span th:text="${profile.getName()}"></span> <span th:text="${profile.getEmail()}"></span>
            </p>
        </div>
    </div>

    <div class="row row--social-link">
        <div class="col-12 col-md-6">
            <div class="card card--social-link">
                <div class="card-body">
                    <h5 class="card-title">Github</h5>
                    <p class="card-text">
                        <span th:if="${profile.getGithub().getUsername() !=null}"
                              th:text="${profile.getGithub().getUsername()}"></span>
                    </p>
                    <a th:if="${profile.getGithub().getUsername() == null}"
                       th:href="${profile.getGithub().getSignupLink()}" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card card--social-link">
                <div class="card-body">
                    <h5 class="card-title">LinkedIn</h5>
                    <p class="card-text">
                        <span th:if="${profile.getLinkedin().getUsername() !=null}"
                              th:text="${profile.getLinkedin().getUsername()}"></span>
                    </p>
                    <a th:if="${profile.getLinkedin().getUsername() == null}"
                       th:href="${profile.getLinkedin().getSignupLink()}" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--social-link">
                <div class="card-body">
                    <h5 class="card-title">Twitter</h5>
                    <p class="card-text">
                        <span th:if="${profile.getTwitter().getUsername() !=null}"
                              th:text="${profile.getTwitter().getUsername()}"></span>
                    </p>
                    <a th:if="${profile.getTwitter().getUsername() == null}"
                       th:href="${profile.getTwitter().getSignupLink()}" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--social-link">
                <div class="card-body">
                    <h5 class="card-title">Google</h5>
                    <p class="card-text">
                        <span th:if="${profile.getGoogle().getUsername() !=null}"
                              th:text="${profile.getGoogle().getUsername()}"></span>
                    </p>
                    <a th:if="${profile.getGoogle().getUsername() == null}"
                       th:href="${profile.getGoogle().getSignupLink()}" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--social-link">
                <div class="card-body">
                    <h5 class="card-title">Stack Overflow</h5>
                    <p class="card-text">
                        <span th:if="${profile.getStackoverflow().getUsername() !=null}"
                              th:text="${profile.getStackoverflow().getUsername()}"></span>
                    </p>
                    <a th:if="${profile.getStackoverflow().getUsername() == null}"
                       th:href="${profile.getStackoverflow().getSignupLink()}" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>