<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout" th:with="activeTab='rewards'"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
<div layout:fragment="content" class="row justify-content-center">
    <div class="col-12">
        <div class="card card--success shadow-normal mb-5">
            <h5 class="card-header card-header--label">
                <span>Total rewards</span>
                <small class="text-success">
                    <span th:text="${bounty.getTotalRewards()}"></span> FND
                </small>
            </h5>
        </div>

        <div class="card mb-5">
            <h5 class="card-header card-header card-header--label">
                <span>Rewards</span>
                <small class="text-success"><span th:text="${bounty.getOtherRewards()}"></span> FND</small>
            </h5>

            <div class="card-body">
                <div class="rewards-list">
                    <div class="rewards-list__title">
                        <h5><a href="/profile#verify-developer">Are you a developer?</a></h5>
                        <span>You account needs to be created before 01-01-2018</span>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">
                            <i class="fab fa-github mr-1"></i>
                            <span>Connect with Github</span>
                        </div>
                        <div th:if="${githubVerification != null and githubVerification.isApproved()}">
                            <span class="text-success">15 FND</span>
                        </div>
                        <div th:if="${githubVerification != null and !githubVerification.isApproved()}">
                            <span class="text-warning">Account created after 2018-01-01 </span>
                        </div>
                        <div th:if="${githubVerification == null}">
                            <a class="rewards-list__link" href="/profile#verify-developer">Get 15 FND</a>
                        </div>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">
                            <i class="fab fa-stack-overflow mr-1"></i>
                            <span>Connect with Stack Overflow</span>
                        </div>
                        <div th:if="${stackOverflowVerification != null and stackOverflowVerification.isApproved()}">
                            <span class="text-success">15 FND</span>
                        </div>
                        <div th:if="${stackOverflowVerification != null and !stackOverflowVerification.isApproved()}">
                            <span class="text-warning">Account created after 2018-01-01 </span>
                        </div>
                        <div th:if="${stackOverflowVerification == null}">
                            <a class="rewards-list__link" href="/profile#verify-developer">Get 15 FND</a>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="rewards-list">
                    <div class="rewards-list__title">
                        <h5><a href="/profile#get-social">Be social</a></h5>
                        <span>Connect your account and post a message</span>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">
                            <i class="fab fa-linkedin mr-1"></i>
                            <span>Connect LinkedIn and share</span>
                        </div>
                        <div>
                            <div th:if="${bounty.getLinkedInRewards() > 0}">
                                <span class="text-success">10 FND</span>
                            </div>
                            <div th:if="${bounty.getLinkedInRewards() == 0}">
                                <a class="rewards-list__link" href="/profile#get-social-linkedin">Get 10 FND</a>
                            </div>

                        </div>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">
                            <i class="fab fa-twitter mr-1"></i>
                            <span>Connect Twitter and tweet</span>
                        </div>
                        <div th:if="${bounty.getTwitterRewards() > 0}">
                            <span class="text-success">10 FND</span>
                        </div>
                        <div th:if="${bounty.getTwitterRewards() == 0}">
                            <a class="rewards-list__link" href="/profile#get-social-twitter">Get 10 FND</a>
                        </div>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">
                            <i class="fab fa-telegram mr-1"></i>
                            <span>Join Telegram and say Hi!</span>
                        </div>
                        <div th:if="${bounty.getTelegramRewards() > 0}">
                            <span class="text-success">5 FND</span>
                        </div>
                        <div th:if="${bounty.getTelegramRewards() == 0}">
                            <a class="rewards-list__link" href="/profile#get-social-telegram">Get 5 FND</a>
                        </div>

                    </div>
                    <hr th:if="${survey}"/>
                </div>


                <div class="rewards-list" th:if="${survey}">
                    <div class="rewards-list__title">
                        <h5><a href="#">Survey</a></h5>
                        <span>You must have filled in the platform survey correctly</span>
                    </div>
                    <div class="rewards-list__item">
                        <div class="rewards-list__text">Fill in survey</div>
                        <div>
                            <span class="text-muted">Unverified </span>
                            <span class="text-muted">0 FND</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <h5 class="card-header card-header card-header--label">
                <span>Referrals</span>
                <small class="text-success" id="referral-total"><span th:text="${bounty.getReferralRewards()}"></span>
                    FND
                </small>
            </h5>

            <div class="card-body">
                <div class="card-text rewards-list">
                    <div class="rewards-list__title">
                        <h5 class="text-primary">Referrals that signed up</h5>
                        <span>When the referrals are verified, you get rewarded</span>
                    </div>
                    <div id="rewards-list-content">
                        Loading...
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="card bg-light mb-5">-->
            <!--<h5 class="card-header">FAQ</h5>-->
            <!--<div class="card-body">-->

            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<th:block layout:fragment="modals">
    <div class="modal fade" tabindex="-1" role="dialog" id="see-badges">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Your badges</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-12 col-xs-6 col-md-4 mb-2">
                            <div><a href="#" class="fnd-badge fnd-badge--dummy"></a></div>
                            <div class="badge badge-primary">You are awesome</div>
                        </div>
                        <div class="col-12 col-xs-6 col-md-4 mb-2">
                            <div><a href="#" class="fnd-badge fnd-badge--dummy fnd-badge--inactive"></a></div>
                            <div class="badge badge-secondary">Buginator</div>
                            <div>
                                <small>Fix 20 more bugs</small>
                            </div>
                        </div>
                        <div class="col-12 col-xs-6 col-md-4 mb-2">
                            <div><a href="#" class="fnd-badge fnd-badge--dummy"></a></div>
                            <div class="badge badge-primary">Extreme coder</div>
                        </div>
                        <div class="col-12 col-xs-6 col-md-4 mb-2">
                            <div><a href="#" class="fnd-badge fnd-badge--dummy"></a></div>
                            <div class="badge badge-primary">Innovator</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-raised btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<div layout:fragment="scripts">
    <script>require(["fundrequest/referral"])</script>
</div>
</body>
</html>